{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <h1> Formulário de Funcionários</h1>
    <div class="container">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Funcionários</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" value="Cadastrar">
    </form>
</div>
</body>

</html>