{% load static %}
<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Funcionários</title>
    <style type="text/css">
        html {
            margin: 2%;
        }
    </style>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
    <h1> Listagem de Funcionários</h1>
    <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <h3>Nome do funcionário</h3>
                </th>
                <th>
                    <h3>Ações</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for funcionario in object_list %}
                <td>
                    {{ funcionario.nome }}
                </td>
                <td>
                    <a class="btn btn-success" href={% url "listar_funcionario" pk=funcionario.id %}>Exibir dados</a>
                    <a class="btn btn-primary" href={% url "editar_funcionario" pk=funcionario.id %}>Editar</a>
                    <a class="btn btn-danger" href={% url "remover_funcionario" pk=funcionario.id %}>Remover</a>
                </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'form_funcionario' %}" class="btn btn-primary">Cadastrar um novo funcionário</a>
</body>